{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Kevin Evans</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'css/aos.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Our project just needs Font Awesome Free's Solid and Brand files -->
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/regular.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/light.css' %}" rel="stylesheet" type="text/css">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="fas fa-bars mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'pictures/pic0.png' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Kevin Evans</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://www.facebook.com/profile.php?id=100056938095512&mibextid=LQQJ4d" class="facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="https://wa.me/+79197633770" class="whatsapp"><i class="fab fa-whatsapp"></i></a>
          <a href="https://join.skype.com/invite/gQQOHkgDdhHz" class="skype"><i class="fab fa-skype"></i></a>
          <a href="http://linkedin.com/in/kevin-evans-092780117" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="fas fa-home"></i><span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="fas fa-user"></i> <span>About</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="fas fa-yin-yang"></i> <span>Educational Philosphy</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="far fa-file"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="fas fa-running"></i> <span>Hobbies</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="far fa-address-card"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Kevin Evans</h1>
      <p>I'm an <span class="typed" data-typed-items="English teacher"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>A life-long educator with more than 6 years of experience including 4 years overseas. A proven track record as a collaborative leader indynamic middle and high school settings. Continously growing and helping others understand the latest best practices in the field of education through an international context.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'pictures/pic0.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>English Teacher</h3>
            <p class="fst-italic">
              Providing experience &amp; verbal communication, designing curriculum for teaching &amp; increasingly helping in the child development process of young children according to their needs.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>4th May 1995</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.kevinevans.me</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+7 919 763-37-70</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Moscow, Russia Federation</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>27</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>bachelors</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>evanskevin31@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              A sporty enthusiastic native English & Governor with 6+ years of experience as a professional. Highly qualified and well developed professional with excellent administrative and managerial skills. Excellent writen and verbal communication, Microsoft Words Powerpoint, Problem Solving, Proficient in English and G Suite. 
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Educational philosophy Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Educational Philosphy</h2>
          <p>It is with great fortune that I have been able to work throughout my career in multiple educational organizations providing me with a myriad of experiences. My current and previous schools truly bring educational rigor to a whole new level. As a teacher, this helped me develop my craft and push my limits, along with the limits of my students, to new heights. As a leader, I have helped teachers and students use a culture of excellence to spawn innovation in the classroom and through co-curricular activities. The benefits of the academic challenges found in these schools are many: students perform well on external assessments, are recognized around the world for their academic achievements, and matriculate to top universities. After all, a rigorous school culture demands hard work and a level of excellence in everything, and as a result, excellence is often exactly what results.</p>
          <p>However, a culture of rigor can come at a cost as it can limit organizations from truly meeting students' holistic needs. A rigorous school culture has the potential to burn out faculty members, force students to compromise their academic integrity and create serious conflict within families. International schools should strive to provide adequate programs to support students with ESL and Learning Support needs and include a wider variety of students and families, so more students can receive a top tier education. Great schools have programs in place allowing educators to support all students without sacrificing rigor.</p>
          <p>Education is about holistic growth, and my dream is to work at a school that recognizes individual needs within a culture of excellence. As a leader, I create an environment that fosters honest conversations and expertise centered on student needs. I work every day to shift conversations from an elitist private school mentality to what really matters, meeting the needs of all of our students through pastoral care. I believe I have contributed to significant progress around meeting student needs by making students the focus of all we do. My philosophy is centered on the balance of holistic support and rigor.</p>
        </div>
      </div>
    </section>

    <!-- ======= End Educational philosophy Section ======= -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Kevin Evans</h4>
              <p><em>I understand that the early years of a child's life are vital as the stepping stones to their successful future. Because of this, I work hard to provide them with varied stimulating activities that will promote their learning and development. As a native english apeaker, I have no trouble communicating in a warm and professional manner with children and adults alike. I am punctual, responsible and well presented at all times. Above all, I have a clear & clean english accent which makes it easy for every child to learn and understand. I am resilient, positive, calm and committed english teacher and Governor who is able to maximise a child's achievement. I provide a rich and varied education for all ages of students.</em></p>
              <ul>
                <li>Belorusskaya 101000, Moscow, Russia</li>
                <li>+7 919 763-37-70</li>
                <li>evanskevin31@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Master in Psychology</h4>
              <p><em>San Jose State University, San Jose, CA</em></p>
            </div>
            <div class="resume-item">
              <h4>Bachelor of Arts in Education</h4>
              <p><em>University of Chapman, Orange, L.A</em></p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>IB Teacher</h4>
              <ul>
                <li>Promote high quality in teaching and learning</li>
                <li>Encourages continious improvement by setting challenging targets for achievement</li>
                <li>Developing, inspiring and motivating students to achieve</li>
                <li>Develop lessons plans and teach 7th and 8th grade students english course skills</li>
                <li>Adapting teaching methods and instructoral materials to meet students varying needs and interests</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Hobbies</h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'pictures/hobbies0.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'pictures/hobbies1.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'pictures/hobbies2.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'pictures/hobbies4.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'pictures/hobbies5.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'pictures/hobbies3.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'pictures/hobbies6.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Quotes from the 2017 High School Faculty End of Year Feedback Survey. Comments are annonymous.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="fas fa-quote-left"></i>
                  Kevin is a very helpful instructural leader. He demonstrates this in the way he leads our divisional meetings and in the way he supports us in our goal meetings and classroom visits.
                  <i class="fas fa-quote-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="fas fa-quote-left"></i>
                  Kevin is a great leader and advocate for both students and faculty
                  <i class="fas fa-quote-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="fas fa-quote-left"></i>
                  Kevin effectively fosters student achievement. He is great at providing instructural feedback and his advice is valid and useful in tackling student and teacher challenges.
                  <i class="fas fa-quote-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="fas fa-quote-left"></i>
                  Kevin is a great listener and is always there for us when we need him. His door is always open and he takes the time to hear both sides of every side.
                  <i class="fas fa-quote-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              </div>
            </div><!-- End testimonial item -->

            

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="fas fa-map-marker-alt"></i>
                <h4>Location:</h4>
                <p>
                  Belorusskaya 101000, Moscow, Russia
                </p>
              </div>

              <div class="email">
                <i class="fas fa-envelope"></i>
                <h4>Email:</h4>
                <p>evanskevin31@gmail.com</p>
              </div>

              <div class="phone">
                <i class="fas fa-phone-alt"></i>
                <h4>Call:</h4>
                <p>+7 919 763-37-70</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'js/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/glightbox.min.js' %}"></script>
  <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'js/typed.min.js' %}"></script>
  <script src="{% static 'js/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>